{% extends "pizzas/base.html" %}

    {% block content %}

        <!-- #define the form and tell the browser where to send the data 
        #submitted in the form, the method is a post method -->
        <form action="{% url 'users:register' %}" method='post'>

            {% csrf_token %}

            {{form.as_p}}

            <button name="submit">register</button>
            <input type="hidden" name="next"
            value="{% url 'pizzas:index' %}" />
        </form>

    {% endblock content %} 