{% extends 'pizzas/base.html' %}

{% load static %}

{% block content %}

<p>Welcome to the Pizzeria Homepage!</p>

<p>This website helps you keep track of your pizzas, 
    and any topping that comes with them.</p>

<img src="{% static 'pizzas/images/index_photo.jpg' %}">

{% endblock content %}
    <!-- index.html is the child template that will inherit all elements and then extend
    elements from the base.html page (the parent template), which includes hyperlinks and 
    and then the content of the index.html between the block and endblock contents-->
