{% extends 'pizzas/base.html' %}

{% load static %}

{% block content %}

<p>Pizza: {{pizza}}</p>

<ul>
    {% for topping in toppings %}

    <li>{{ topping.name }}</li> 

    {% empty %}

    <li>There are no toppings for this pizza yet.</li>

    {% endfor %}
</ul>

<img src="{% static 'pizzas/images/pizza_html_photo.jpg' %}">

<p>Comments: </p>

    {% for comments in comments %}
    <li>{{ comment.text }}</li>
    <li>{{ comment.owner }}</li>
    
    {% empty %}
    <li>There are no comments for this pizza yet.</li>

    {% endfor %}
<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>
</p>

{% endblock content %}